/* CSS HEX
--orange-soda: #F95742ff;
--white: #FFFFFFff;
--honey-yellow: #FEB101ff;
--gray-x-11-gray: #BBB5B5ff;
--cinereous: #9E8A89ff; */

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Archivo', sans-serif;
    color: #F95742ff;
}

/**********************HEADER**********************/

header {
    max-height: 80px;
    display: inline;
    position: sticky;
    top: 0;

    box-shadow: 0 2px 4px 0px #e7e7e7;
}

.flex-column {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.flex-row {
    display: flex;
}

.jumbotron {
    max-height: 70px;
    flex-basis: 60%;
    font-size: 18px;
    background-color: white;
    padding: 5px;
    margin-left: 15px;
}

nav {
    max-height: 70px;
    flex-basis: 40%;
    background-color: white;
    padding: 5px;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    color: #202020;
}

nav a:hover {
    background-color: #e9e9e9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

nav a:active {
    color: white;
    background-color: #F95742ff;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

/**********************CONTENT**********************/

#content {
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

.card {
    padding: 20px;
    margin-top: 20px;
}

.square {
    flex-basis: 25%;

    padding: 10px;
    /* border: 1px solid #202020; */
    cursor: pointer;
}

.double {
    flex-basis: 50%;
}

/* Beranda */
#beranda img {
    max-width: 500px;
}

/* Layanan */
#layanan img {
    max-height: 80px;
    object-position: center;
}

#layanan .square:hover {
    font-weight: bold;
    transform: scale(1.05);
    border-radius: 10px;
    box-shadow: 0 2px 4px 2px #e7e7e7;
}

/* Kontak */
#kontak a {
    text-decoration: none;
    color: #202020;
    text-align: center;
}

/**********************BIODATA**********************/
aside {
    min-width: 350px;
    max-width: 500px;
    margin: auto;
    width: 50%;
}

#profile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px 4px #cfcfcf;
}

#profile {
    box-shadow: 0 4px 4px 2px #e7e7e7;
    border-radius: 10px;
}

#profile header {
    text-align: center;
}

#profile img {
    border-radius: 50%;
    max-width: 120px;
    object-position: center;
}

/**********************FOOTER**********************/
footer {
    padding: 10px;
    color: white;
    background-color: #F95742ff;
    text-align: center;
    font-weight: bold;
}

/**********************SCREEN**********************/
@media screen and (max-width: 580px) {
    header {
        box-shadow: 0 2px 4px 2px #e7e7e7 !important;
        max-height: 200px !important;
    }

    header .flex-row {
        flex-direction: column;
    }

    .jumbotron,
    nav {
        max-height: 190px !important;
    }

    .jumbotron {
        text-align: center;
    }

    nav a:active {
        color: white;
        background-color: #F95742ff;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 25px;
    }

    #layanan .flex-row,
    #kontak .flex-row {
        flex-direction: column;
    }

    #beranda img {
        max-width: 300px;
    }
}