/* CSS HEX
--orange-soda: #F95742ff;
--white: #FFFFFFff;
--honey-yellow: #FEB101ff;
--gray-x-11-gray: #BBB5B5ff;
--cinereous: #9E8A89ff; */

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Archivo', sans-serif;
    color: #F95742ff;
}

/**********************HEADER**********************/

header {
    display: inline;
    position: sticky;
    top: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.flex-row {
    display: flex;
}

.jumbotron {
    flex-basis: 60%;
    font-size: 18px;
    background-color: white;
    padding: 5px;
}

nav {
    flex-basis: 40%;
    background-color: white;
    padding: 5px;
}

nav a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #202020;
}

nav a:hover {
    font-weight: bold;
    background-color: #e9e9e9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

nav a:active {
    color: white;
    background-color: #F95742ff;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

/**********************CONTENT**********************/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

.card {
    padding: 20px;
    margin-top: 20px;
}

#content {
    text-align: center;
}

/* beranda */

/**********************BIODATA**********************/
.profile header {
    text-align: center;
}

/**********************FOOTER**********************/
footer {
    padding: 25px;
    color: white;
    background-color: #F95742ff;
    text-align: center;
    font-weight: bold;
}